<a href="https://colab.research.google.com/github/GeoLabUniLaSalle/Python/blob/main/Articles_Crawling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import bs4
import requests
import datetime
import pandas as pd

En cas d'erreur sur ces lignes, lancez l'installation des modules manquants, redémarrez le noyau, puis re-exécutez l'import du module.

In [ ]:
import sys
!{sys.executable} -m pip install --user bs4
!{sys.executable} -m pip install --user pandas

# Python basics

In [ ]:
# Define a variable and print it to the screen
a = 4
print(a)

t = "text"
print(t)

4
text

In [ ]:
# Basic operations 
s1 = 'Bonjour '
s2 = 'à '
s3 = 'tous'
s = s1 + s2 + s3

print(s)

Bonjour à tous

In [ ]:
# Define a list 
l = ['valeur 1', 'valeur 2', 'valeur 3']
print(l)

# Add an element to a list
l.append('nouvelle valeur')
print(l)
print() 

# Loop through values of a list (note the indentation). Try to comment line 4
for elt in l:
    print(elt)

['valeur 1', 'valeur 2', 'valeur 3']
['valeur 1', 'valeur 2', 'valeur 3', 'nouvelle valeur']

valeur 1
valeur 2
valeur 3
nouvelle valeur

In [ ]:
# Create a list of integers
l = range(1,10)
print(l)

range(1, 10)

In [ ]:
# Be careful with types:
a = 99
print(type(a))
print(a)

print()

b = '99'
print(type(b))
print(b)

print()

c = str(a)
print(type(c))
print(c)

<class 'int'>
99

<class 'str'>
99

<class 'str'>
99

In [ ]:
# Create a dictionnary
dic = {
    'title': 'un titre quelconque',
    'text' : 'un long texte à propos de rigs de forage'
}
dic

{'text': 'un long texte à propos de rigs de forage',
 'title': 'un titre quelconque'}

In [ ]:
# Create an table
tab = pd.DataFrame()

# Add a line
tab = tab.append(dic, ignore_index=True)

# Display the table
tab

                                       text                title
0  un long texte à propos de rigs de forage  un titre quelconque

# Crawling basics

In [ ]:
# Define URL
url = 'https://www.windpowermonthly.com/article/1728570/siemens-gamesa-starts-installing-first-14mw-offshore-wind-turbine-prototype-denmark'

In [ ]:
# Get the content of the page 
html_code = requests.get(url).content
#print(html_code)

# Transform it to a tree of tags
soup = bs4.BeautifulSoup(html_code, 'html.parser')

NameError: ignored

In [ ]:
# Use selectors to get the content you are looking for 
l = soup.select('div.ArticleBodyPaywall p')

#l = soup.select('header p.byline')

# Have a look at what you just crawled
for elt in l:
    print(elt)
    print()

<p><img height="1066" src="https://cached.offlinehbpl.hbpl.co.uk/news/WPW/SG14MWprototypefullportrait.jpeg" width="800"/></p>

<p>Siemens Gamesa Renewable Energy (SGRE) has started installing the prototype of its SG 14-222 DD offshore wind turbine in Denmark.</p>

<p>The turbine manufacturer has installed the 150-metre-plus tower at a test site in Østerild.</p>

<p>It is due to add the nacelle and <a href="https://www.windpowermonthly.com/article/1707665/first-picture-siemens-gamesas-record-breaking-blade">108-metre blades</a> in the coming weeks.</p>

<p>The company aims to complete installation by the end of the year, a spokeswoman advised.</p>

<p>When completed, the turbine will become the world’s most powerful operational wind turbine, surpassing  <a href="https://www.windpowermonthly.com/article/1698085/ge-upgrades-haliade-x-prototype-13mw">GE’s 13MW Haliade-X prototype</a>, which is installed in the Netherlands.</p>

<p>Since <a href="https://www.windpowermonthly.com/article/1683570/sgre-upped-offshore-stakes-14mw+-turbine-222m-rotor">first announcing its 14MW offshore wind turbine</a> in May 2020, Siemens Gamesa has received provisional orders to supply its SG 14-222 DD turbine at projects in <a href="https://www.windpowermonthly.com/article/1684216/sgre-lines-first-14mw-orders-4gw">the UK, the US and Asia Pacific</a>.</p>

<p>It plans to begin serial production in 2024.</p>

In [ ]:
# Remove tags:
l_cleaned = []

for elt in l:
    l_cleaned.append( elt.get_text() )

for elt in l_cleaned:
    print(elt)
    print()

Siemens Gamesa Renewable Energy (SGRE) has started installing the prototype of its SG 14-222 DD offshore wind turbine in Denmark.

The turbine manufacturer has installed the 150-metre-plus tower at a test site in Østerild.

It is due to add the nacelle and 108-metre blades in the coming weeks.

The company aims to complete installation by the end of the year, a spokeswoman advised.

When completed, the turbine will become the world’s most powerful operational wind turbine, surpassing  GE’s 13MW Haliade-X prototype, which is installed in the Netherlands.

Since first announcing its 14MW offshore wind turbine in May 2020, Siemens Gamesa has received provisional orders to supply its SG 14-222 DD turbine at projects in the UK, the US and Asia Pacific.

It plans to begin serial production in 2024.

In [ ]:
# Select a link
elt = soup.select('h3 a')[0]
print(elt)

<a data-id="1728570" data-url="https://www.windpowermonthly.com/article/1728570" href="/article/1728570/siemens-gamesa-starts-installing-first-14mw-offshore-wind-turbine-prototype-denmark" title="Siemens Gamesa starts installing 14MW prototype">Siemens Gamesa starts installing 14MW prototype</a>

In [ ]:
# Get the targeted link
print(elt.get('href'))

/article/1728570/siemens-gamesa-starts-installing-first-14mw-offshore-wind-turbine-prototype-denmark