<a href="https://colab.research.google.com/github/GeoLabUniLaSalle/Python/blob/main/Les_s%C3%A9quences_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Les séquences : tuple**

Dans ce chapitre, nous allons étudier le fonctionnement des séquences, et plus particulièrement du type tuple.

Les tuple sont des **séquences** d'objets **immuables** **heterogènes**. On dit que le type tuple est heterogène parce que les objets de la séquence peuvent être de types différents (int, float, bool, str, list, tuple, ...).

Commençons par créer un variable de type tuple et vérifions son type.

In [1]:
t = ()
type(t)

tuple

Examinons maintenant la représentation interne de t :

In [2]:
t

()

Les symboles ( ) indiquent que t est de type tuple.

Recréons maintenant le tuple t en lui attribuant une première valeur.

In [5]:
t = (6,)
print(t)
type(t)

(6,)

tuple

La virgule est obligatoire si le tuple ne contient qu'une seul élément pour qu'il n'y ait pas de confusion possible avec le type entier.

Modifions maintenant t en lui attribuant plusieurs éléments et affichons son contenu.

In [6]:
t = (6,False,'hello',7.3)
t

(6, False, 'hello', 7.3)

Nos pouvons aussi créer des tuple sans se servir des parenthèses :

In [8]:
t = 6,
print(t)
t = 6,False,'hello',7.3
print(t)

(6,)
(6, False, 'hello', 7.3)

Le type tuple est une séquence et nous pouvons donc utiliser toutes les fonctions et opoérations liées aux séquences :

In [10]:
print(6 in t)
print(8.1 in t)
print(t[2])
print(t[1:3])

True
False
hello
(False, 'hello')

Le type tuple est **immuable**, il n'est pas possible de modifier son contenu directement :

In [11]:
t[1] = True

TypeError: ignored

Une solution pour modifier son contenu est de convertir le tuple en list, puis reconvertir la list en tuple après avoir réalisé la modification :

In [12]:
l = list(t)
print(l)
l[1] = True
print(l)
t = tuple(l)
print(t)

[6, False, 'hello', 7.3]
[6, True, 'hello', 7.3]
(6, True, 'hello', 7.3)

Ici, t est un nouveau tuple créé à partir de l.

Il n'est pas non plus possible d'utiliser les méthodes de list pour modifier un tuple :

In [13]:
t.append(42)

AttributeError: ignored

Nous avons recours à la même astuce pour utiliser ces méthodes :

In [14]:
l = list(t)
print(l)
l.append(42)
print(l)
t = tuple(l)
print(t)

[6, True, 'hello', 7.3]
[6, True, 'hello', 7.3, 42]
(6, True, 'hello', 7.3, 42)

Le type tuple permet de réaliser des tris efficaces.

Créons une list de tuple qui associe des noms d'étudiants à deux notes qu'ils ont obtenues :

In [25]:
notes = [('Thomas',14.6,13.8),('Antoine',15.9,14.0),('Camille',8.4,10.5),('Marion',11.3,16.2),('Anne',14.6,11.1),('Quentin',13.6,9.7)]
notes

[('Thomas', 14.6, 13.8),
 ('Antoine', 15.9, 14.0),
 ('Camille', 8.4, 10.5),
 ('Marion', 11.3, 16.2),
 ('Anne', 14.6, 11.1),
 ('Quentin', 13.6, 9.7)]

Trions cette liste par ordre alphabétique grâce à la méthode sort() qui peut prendre en paramètre une clé qui indique sur quel critère le tri doit être effectué.

In [26]:
notes.sort(key = lambda x:x[0]) # 0 indique que le tri est réalisé sur l'élément d'indice 0 (le premier élément) de chaque tuple
notes

[('Anne', 14.6, 11.1),
 ('Antoine', 15.9, 14.0),
 ('Camille', 8.4, 10.5),
 ('Marion', 11.3, 16.2),
 ('Quentin', 13.6, 9.7),
 ('Thomas', 14.6, 13.8)]

Nous pouvons trier sur la première valeur numérique :

In [27]:
notes.sort(key = lambda x:x[1]) # 1 indique que le tri est réalisé sur l'élément d'indice 1 (le second élément) de chaque tuple
notes

[('Camille', 8.4, 10.5),
 ('Marion', 11.3, 16.2),
 ('Quentin', 13.6, 9.7),
 ('Anne', 14.6, 11.1),
 ('Thomas', 14.6, 13.8),
 ('Antoine', 15.9, 14.0)]

Nous pouvons trier sur la seconde valeur numérique en cas d'égalité sur la première valeur numérique :

In [28]:
notes.sort(key = lambda x:x[2]) # Tri sur la seconde note
notes.sort(key = lambda x:x[1]) # Tri sur la première note
notes

[('Camille', 8.4, 10.5),
 ('Marion', 11.3, 16.2),
 ('Quentin', 13.6, 9.7),
 ('Anne', 14.6, 11.1),
 ('Thomas', 14.6, 13.8),
 ('Antoine', 15.9, 14.0)]

Nous pouvons aussi trier par la somme des notes :

In [29]:
notes.sort(key = lambda x:x[1] + x[2])
notes

[('Camille', 8.4, 10.5),
 ('Quentin', 13.6, 9.7),
 ('Anne', 14.6, 11.1),
 ('Marion', 11.3, 16.2),
 ('Thomas', 14.6, 13.8),
 ('Antoine', 15.9, 14.0)]