<a href="https://colab.research.google.com/github/GeoLabUniLaSalle/Python/blob/main/Manipuler_des_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Manipuler des list**

Dans ce chapitre, nous allons apprendre à manipuler des listes par des fonctions spécifiques permettant d'ajouter ou supprimer des éléments.

Commençons par créer une liste :

In [ ]:
l = [42, False, 'hey', 7.2]
l

[42, False, 'hey', 7.2]

Pour ajouter un objet à la fin de la liste, on utilise la méthode append qui prend un paramètre un objet à ajouter. Cet objet peut être de n'importe quel type.

In [ ]:
l.append(13)
print(l)
l.append([8,3,6])
print(l)

[42, False, 'hey', 7.2, 13]
[42, False, 'hey', 7.2, 13, [8, 3, 6]]

Etudions maintenant la méthode pop() qui supprime le dernier élément d'une liste, et retourne son contenu.

In [ ]:
l.pop()
print(l)
a = l.pop()
print("L'élément",a,"a été supprimé")
print(l)

[42, False, 'hey', 7.2, 13]
L'élément 13 a été supprimé
[42, False, 'hey', 7.2]

Il est possible de supprimer un élément dont on connaît l'indice

In [ ]:
del(l[1]) # Suppression du 2ème élément
print(l)
del(l[-1]) # Suppression du dernier élément
print(l)

[42, 'hey', 7.2]
[42, 'hey']

Nous pouvons insérer une liste dans une liste existante, grâce à la méthode insert qui prend en paramètre la position à laquelle on veut ajouter notre élément, et l'élement à insérer

In [ ]:
l.insert(1,13)
print(l)
l.insert(1,[8,3,6])
print(l)

[42, 13, 'hey']
[42, [8, 3, 6], 13, 'hey']

In [ ]:
l

[42, [8, 3, 6], 13, 'hey']

Le type list nous permet d'utiliser naturellement quelques fonctions de tri.

Créons une liste d'entiers non triés.

In [ ]:
s = [8,3,4,1,7]
s

[8, 3, 4, 1, 7]

Trions maintenant cette liste en ordre croissant :

In [ ]:
sorted(s)

[1, 3, 4, 7, 8]

Notons que sorted retourne une liste triée, mais ne modifie pas le contenu de s :

In [ ]:
s

[8, 3, 4, 1, 7]

A l'inverse, la méthode sort() trie l'objet sur lequel elle est appelée :

In [ ]:
s.sort()
s

[1, 3, 4, 7, 8]

sort() est une méthode définie pour le type list alors que sorted() fonctionne sur tout type de séquence.

Nous pouvons bien entendu réaliser des tris en ordre décroissant :

In [ ]:
s = [8,3,4,1,7]
sorted(s,reverse=True)

[8, 7, 4, 3, 1]

Ou bien :

In [ ]:
s.sort(reverse=True)
s

[8, 7, 4, 3, 1]

La méthode reverse permet d'inverser les éléments d'une liste :

In [ ]:
s = [8,3,4,1,7]
print(s)
s.reverse()
print(s)

[8, 3, 4, 1, 7]
[7, 1, 4, 3, 8]

Les fonctions in, not in, min, max, len, count, +, * permettent de réaliser des traitements de base sur les listes.

In [11]:
l = [8,3,4,1,7,3,3,7,8,3,7]
print(7 in l)
print(7 not in l)
print(min(l))
print(max(l))
print(len(l))
print(l.count(7))
l=l+[4,7,3]
print(l)
l=l*2
print(l)

True
False
1
8
11
3
[8, 3, 4, 1, 7, 3, 3, 7, 8, 3, 7, 4, 7, 3]
[8, 3, 4, 1, 7, 3, 3, 7, 8, 3, 7, 4, 7, 3, 8, 3, 4, 1, 7, 3, 3, 7, 8, 3, 7, 4, 7, 3]

Pour transformer une chaîne de caractères (str) en liste, nous utilisons la méthode split() qui retourne la liste convertie. Par défaut, split utilise le caractère espace comme caractère séparateur.

In [ ]:
c = "un tiens vaut mieux que deux tu l'auras"
l = c.split()
l

['un', 'tiens', 'vaut', 'mieux', 'que', 'deux', 'tu', "l'auras"]

Nous pouvons choisir d'utiliser un autre caractère séparateur, comme la virgule si on traite un fichier csv.

Testons avec le caractère 'e' :

In [ ]:
l = c.split("e")
l

['un ti', 'ns vaut mi', 'ux qu', ' d', "ux tu l'auras"]

Inversement, nous pouvons créer une chaîne de caractères (str) à partir d'une liste de str avec la méthode join() qui retourne la chaîne de caractères convertie. Le caractère entre guillements indique le séparateur à intégrer.

In [ ]:
l = ['81','47','52','19']
c = ",".join(l)
print(c)
c = "_".join(l)
print(c)

'81_47_52_19'

Il est possible d'appliquer une fonction à tous les élements d'une liste par la fonction *map*.

In [16]:
l = ['81','47','52','19']
print(type(l[0]))
m=list(map(int,l))
print(m)
print(type(m[0]))

<class 'str'>
[81, 47, 52, 19]
<class 'int'>

In [17]:
n=list(map(lambda x: x * 2 + 3,m))
print(n)

[165, 97, 107, 41]