<a href="https://colab.research.google.com/github/GeoLabUniLaSalle/Python/blob/main/Types_Num%C3%A9riques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Types Numériques**

Dans ce chapitre, nous allons manipuler des variables de type numérique : entiers, réels et booléens

Commençons par créer une variable et affichons son type de données.

In [1]:
a = 5
type(a)

int

Le type de a est int (entier). Le typage a été réalisé de manière dynamique, cf. chapitre sur le [typage dynamique](https://mybinder.org/v2/gh/GeoLabUniLaSalle/Python/HEAD?filepath=Typage_dynamique.ipynb).

Affectons maintenant une valeur très grande à une nouvelle variable et examinons sa représentation interne :

In [3]:
b = 67436981489327890143207089341366271987813608115539816830106738362549278017937
b

67436981489327890143207089341366271987813608115539816830106738362549278017937

En Python, les entiers ont une précision illimitée.

Manipulons maintenant les différents opérateurs numériques :

In [13]:
print(7+2)
print(7-2)
print(7*2)
print(7/2)
print(7//2) # division entière, qui donne le quotient de la division de 7 par 2 : 3
print(7%2) # % est l'opérateur modulo, qui permet d'obtenir le reste de la division entière de 7 par 2 : 7 = 2 x 3 + 1, 1 est le reste.
print(7**2) # 7 puissance 2

9
5
14
3.5
3
1
49

Notez que le symbole # permet d'insérer des commentaires dans votre code. Pour mettre plusieurs lignes en commentaire, nous pouvons utiliser ''' en début et en fin de la zone à mettre en commentaire :

In [12]:
print(7+2)
'''
print(7-2)
print(7*2)
print(7/2)
'''
print(7%2) # % est l'opérateur modulo, qui permet d'obtenir le reste de la division entière de 7 par 2 : 7 = 2 x 3 + 1, 1 est le reste.

9
1

Passons maintenant aux nombres réels :

In [4]:
c = 8.2
type(c)

float

Le type de c est float (réel). Le typage a également été réalisé de manière dynamique.

Affectons maintenant une valeur très grande à c en lui ajoutant b et examinons sa représentation interne :

In [6]:
b+c

6.743698148932789e+76

Nous observons ici une perte de précision dûe au type float : seules les premières décimales sont conservées.

Réalisons maintenant une conversion du type float vers le type int. En Python, tout les types peuvent être convertis en tout autre type de cette manière :

In [7]:
int(8.2)

8

Le passage du type float au type int nous prive des décimales (arrondi à l'inférieur).

Tous les opérateurs numériques peuvent être utilisés sur des float, exemples :

In [17]:
print(8.2/1.7)
print(8.2//1.7)

4.823529411764706
4.0

Découvrons enfin de type booléen

In [18]:
d = True
type(d)

bool

Le type de d est booléen (bool). Le typage a également été réalisé de manière dynamique.

Nous pouvons obtenir des valeurs booléennes avec les opérateurs de comparaison :

In [19]:
print(3<4)
print(3<=4)
print(3>4)
print(3>=4)
print(3==4)
print(3!=4)

True
True
False
False
False
True

Les opérateurs booléens classiques peuvent alors être employés :

In [20]:
print(True and False)
print(True or False)
print(not True)

False
True
False